# Игнорировать venv. Он много весит и нужен только локально
venv/
.venv/

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы логов. Они много весят и могут содержать конфиденциальные данные
*.log

# Игнорировать файл переменных окружения. Там хранятся конфиденицальные данные
.env
